[project]
	description = Create a quick note and make it a reminder, all in a flash!
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/edhub
[access "refs/for/refs/*"]
	read = group user/edhub
	push = group user/edhub
	label-Code-Review = -2..+2 group user/edhub
	label-Verified = -1..+1 group user/edhub
	rebase = group user/edhub
	removeReviewer = group user/edhub
	submit = group user/edhub
[access "refs/heads/*"]
	read = group user/edhub
	create = group user/edhub
	push = +force group user/edhub
	pushMerge = group user/edhub
[access "refs/tags/*"]
	push = +force group user/edhub
	pushTag = group user/edhub
	pushSignedTag = group user/edhub
